.h6 {
    display:block;
    font-size:0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:bold;
}
.green {
    background-color:green;
}
div div{
    background-color:palegreen;
}
.blue{
    background-color: blueviolet;
}
.red{
    background-color: yellow;
}
#bottom{
    background-color: violet;
    color:tan;
}
